@using Starlight.Launcher.Models.Data
@inherits LayoutComponentBase

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="@(_navigation == ElementPosition.Bottom || _navigation == ElementPosition.Top || _isSmallScreen ? "has-bottom-nav" : "")">
    <MudAppBar Elevation="1">
        @if (_navigation == ElementPosition.Bottom || _isSmallScreen)
        {
            <MudText Typo="Typo.h5" Class="ml-3">STARLIGHT</MudText>
            <MudSpacer />
            <MudIconButton />
            <MudTooltip Text="@Localization["main-layout-auth-tab"]">
                <MudIconButton Href="/auth" Icon="@Icons.Material.Filled.People" Size="Size.Medium" />
            </MudTooltip>
        }
        else if (_navigation == ElementPosition.Top)
        {
            <HorizontalNavBar />
        }
    </MudAppBar>

    @if ((_navigation == ElementPosition.Left || _navigation == ElementPosition.Right) && !_isSmallScreen)
    {
        <MudDrawer Anchor="_navigation == ElementPosition.Left ? Anchor.Left : Anchor.Right" Elevation="1" ClipMode="DrawerClipMode.Never" Open="true" Variant="@DrawerVariant.Responsive">
            <VerticalNavBar />
        </MudDrawer>
    }

    <MudMainContent Class="@(_navigation == ElementPosition.Bottom || _isSmallScreen ? "has-bottom-nav" : "")">
        <ErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                <MudAlert Severity="Severity.Error" Class="ma-4">
                    <MudText>Something went wrong. Please try refreshing the page.</MudText>
                </MudAlert>
            </ErrorContent>
        </ErrorBoundary>
    </MudMainContent>

    @if (_navigation is ElementPosition.Bottom or ElementPosition.Top || _isSmallScreen)
    {
        <MudAppBar Bottom="true" Fixed="true" Elevation="3">
            @if (_navigation == ElementPosition.Top)
            {
                <MudTooltip Text="@Localization["main-layout-auth-tab"]">
                    <MudIconButton Href="/auth" Icon="@Icons.Material.Filled.People" Size="Size.Medium" />
                </MudTooltip>
                <MudSpacer />
                <MudText Typo="Typo.h5" Class="mr-3">STARLIGHT</MudText>
            }
            else if (_navigation == ElementPosition.Bottom)
            {
                <HorizontalNavBar />
            }
        </MudAppBar>
    }

</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
