<MudPaper Elevation="0" Square="true" Class="server-toolbar">
    <MudCollapse Expanded="Filters.TagsExpanded">
        <div class="server-toolbar__tags-panel @(HasSearchAbove ? "has-top-divider" : "") @(HasSearchBelow ? "has-bottom-divider" : "") @(IsBottom ? "is-bottom" : "")">

            @if (AvailableRPTags.Count > 0)
            {
                <MudSelect Variant="Variant.Outlined" Margin="Margin.Dense" T="string" Label="RP Tags" MultiSelection="true" SelectedValues="Filters.SelectedRP" SelectedValuesChanged="OnRPTagsChanged">
                    @foreach (var rpTag in AvailableRPTags)
                    {
                        <MudSelectItem T="string" Value="@rpTag">@rpTag</MudSelectItem>
                    }
                </MudSelect>
            }

            @if (AvailableLangTags.Count > 0)
            {
                <MudSelect Variant="Variant.Outlined" Margin="Margin.Dense" T="string" Label="Language Tags" MultiSelection="true" SelectedValues="Filters.SelectedLang" SelectedValuesChanged="OnLangTagsChanged">
                    @foreach (var langTag in AvailableLangTags)
                    {
                        <MudSelectItem T="string" Value="@langTag">@langTag</MudSelectItem>
                    }
                </MudSelect>
            }

            @if (AvailableRegionTags.Count > 0)
            {
                <MudSelect Variant="Variant.Outlined" Margin="Margin.Dense" T="string" Label="Region Tags" MultiSelection="true" SelectedValues="Filters.SelectedRegion" SelectedValuesChanged="OnRegionTagsChanged">
                    @foreach (var regionTag in AvailableRegionTags)
                    {
                        <MudSelectItem T="string" Value="@regionTag">@regionTag</MudSelectItem>
                    }
                </MudSelect>
            }

            <div class="server-toolbar__tag-actions-wrapper">
                <MudCollapse Expanded="HasActiveTagFilters">
                    <div class="server-toolbar__tag-actions">
                        <MudButton Size="Size.Small"
                                   Variant="Variant.Text"
                                   StartIcon="@Icons.Material.Filled.Clear"
                                   OnClick="ClearTagFilters">
                            Clear filters
                        </MudButton>
                    </div>
                </MudCollapse>
            </div>

        </div>
    </MudCollapse>
</MudPaper>