<MudPaper Class="pa-4 mb-2" Outlined="true" Elevation="0">
    <div class="d-flex align-center">
        <MudIcon Icon="@Icon" Class="mr-4" />
        <div class="flex-grow-1">
            <MudText Typo="Typo.body1">@Title</MudText>
            <MudText Typo="Typo.caption" Class="mud-text-secondary">
                @Description
            </MudText>
        </div>
        <MudSelect Variant="Variant.Outlined" T="string" Value="SelectedValue" ValueChanged="OnValueChanged">
            @if (EmptyOption)
            {
                <MudSelectItem T="string" Value="(string?)null">@EmptyOptionName</MudSelectItem>
            }
            @foreach (var item in Values)
            {
                <MudSelectItem T="string" Value="@item">@item</MudSelectItem>
            }
        </MudSelect>
    </div>
</MudPaper>