@page "/"
@using Starlight.Launcher.Components.Atoms.ServerList
@using MudBlazor

<div class="app-bg"></div>

<div class="home-content">
    <MudStack Row="true" Spacing="2" Class="pa-2">
        <MudButton StartIcon="@Icons.Material.Filled.Dns"
                   Variant="Variant.Filled" Color="Color.Primary"
                   OnClick="OpenDirectConnect">
            @_localization["home-menu-dirrect-connect"]
        </MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Movie"
                   Variant="Variant.Outlined"
                   OnClick="LoadReplay">
            @_localization["home-menu-load-replay"]
        </MudButton>

        <MudSpacer />

        <MudIconButton Icon="@Icons.Material.Filled.Refresh"
                       Variant="Variant.Outlined"
                       OnClick="RefreshServers" />
    </MudStack>

    <div class="server-panel">
        <MudVirtualize Items="_favoriteServers"
                       Context="server"
                       ItemSize="56"
                       OverscanCount="3">
            <ServerItem @key="server.Address" Data="server"
                        IsInFavorites="@(_favoriteServers.Contains(server))"
                        OnInfoNeeded="HandleInfoNeeded"
                        OnFavorites="async x => await HandleFavorite(x)" />
        </MudVirtualize>
    </div>
</div>
