@using Starlight.Launcher.Components.Atoms.ServerList
@using Starlight.Launcher.Models.Data
@using Starlight.Launcher.Services.ServerStatus

@page "/servers"

@implements IDisposable

<div class="server-page">
    @if (_fetcher.Status == RefreshListStatus.NotUpdated || _fetcher.Status == RefreshListStatus.UpdatingMaster)
    {
        <div class="server-page__state">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Medium" />
            <MudText Typo="Typo.body2" Color="Color.Secondary">@_localization["servers-menu-loading"]</MudText>
        </div>
    }
    else if (_fetcher.Status == RefreshListStatus.Error && _totalCount == 0)
    {
        <div class="server-page__state">
            <MudIcon Icon="@Icons.Material.Filled.CloudOff" Color="Color.Error" />
            <MudText Typo="Typo.subtitle1" Class="server-page__state-title">@_localization["servers-menu-fetch-failed"]</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Refresh"
                       OnClick="HandleRefresh">
                @_localization["servers-menu-try-again"]
            </MudButton>
        </div>
    }
    else
    {
        @if (_searchBarPosition == ElementPosition.Top || _tagsBarPosition == ElementPosition.Top)
        {
            <div class="server-bar server-bar--top">
                @if (!_bottomSearch && _searchBarPosition == ElementPosition.Top)
                {
                    <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
                @if (_tagsBarPosition == ElementPosition.Top)
                {
                    <TagsBar HasSearchAbove="!_bottomSearch && _searchBarPosition == ElementPosition.Top" HasSearchBelow="_bottomSearch && _searchBarPosition == ElementPosition.Top" Filters="_filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (_bottomSearch && _searchBarPosition == ElementPosition.Top)
                {
                    <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
            </div>
        }

        <div class="server-page__body">
            @if (_searchBarPosition == ElementPosition.Left || _tagsBarPosition == ElementPosition.Left)
            {
                <aside class="server-bar server-bar--side server-bar--left">
                    @if (!_bottomSearch && _searchBarPosition == ElementPosition.Left)
                    {
                        <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                    }
                    @if (_tagsBarPosition == ElementPosition.Left)
                    {
                        <TagsBar HasSearchAbove="!_bottomSearch && _searchBarPosition == ElementPosition.Left" HasSearchBelow="_bottomSearch && _searchBarPosition == ElementPosition.Left" Filters="_filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                    }
                    @if (_bottomSearch && _searchBarPosition == ElementPosition.Left)
                    {
                        <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                    }
                </aside>
            }

            <div class="server-page__main">
                @if (_fetcher.Status == RefreshListStatus.PartialError)
                {
                    <MudAlert Severity="Severity.Warning" Square="true" Dense="true"
                              ShowCloseIcon="false" Class="server-page__alert">
                        @_localization["servers-menu-cant-reach-hubs"]
                    </MudAlert>
                }
                @if (_filteredServers.Count == 0)
                {
                    <div class="server-page__state">
                        <MudIcon Icon="@Icons.Material.Filled.SearchOff" Color="Color.Default" />
                        <MudText Typo="Typo.body2" Color="Color.Secondary">
                            @(_totalCount == 0 ? _localization["servers-menu-no-online-servers"] : _localization["servers-menu-no-matched-servers"])
                        </MudText>
                        @if (_totalCount > 0)
                        {
                            <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="ClearFilters">
                                @_localization["servers-menu-clear-filters"]
                            </MudButton>
                        }
                    </div>
                }
                else
                {
                    <div class="server-page__list">
                        <MudVirtualize Items="_filteredServers"
                                       Context="server"
                                       ItemSize="56"
                                       OverscanCount="3">
                            <ServerItem @key="server.Address" Data="server"
                                        IsInFavorites="@(_favoriteAddresses.Contains(server.Address))"
                                        OnInfoNeeded="HandleInfoNeeded"
                                        OnFavorites="async x => await HandleFavorite(x)" />
                        </MudVirtualize>
                    </div>
                }
            </div>

            @if (_searchBarPosition == ElementPosition.Right || _tagsBarPosition == ElementPosition.Right)
            {
                <aside class="server-bar server-bar--side server-bar--right">
                    @if (!_bottomSearch && _searchBarPosition == ElementPosition.Right)
                    {
                        <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                    }
                    @if (_tagsBarPosition == ElementPosition.Right)
                    {
                        <TagsBar HasSearchAbove="!_bottomSearch && _searchBarPosition == ElementPosition.Right" HasSearchBelow="_bottomSearch && _searchBarPosition == ElementPosition.Right" Filters="_filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                    }
                    @if (_bottomSearch && _searchBarPosition == ElementPosition.Right)
                    {
                        <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                    }
                </aside>
            }
        </div>

        @if (_searchBarPosition == ElementPosition.Bottom || _tagsBarPosition == ElementPosition.Bottom)
        {
            <div class="server-bar server-bar--bottom">
                @if (!_bottomSearch && _searchBarPosition == ElementPosition.Bottom)
                {
                    <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
                @if (_tagsBarPosition == ElementPosition.Bottom)
                {
                    <TagsBar HasSearchAbove="!_bottomSearch && _searchBarPosition == ElementPosition.Bottom" HasSearchBelow="_bottomSearch && _searchBarPosition == ElementPosition.Bottom" IsBottom="true" Filters="_filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (_bottomSearch && _searchBarPosition == ElementPosition.Bottom)
                {
                    <SearchBar Filters="_filters" Status="_fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="_tagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
            </div>
        }
    }
</div>
