@page "/servers"
@using Starlight.Launcher.Services.ServerStatus
@implements IDisposable
@inject HubServerFetcher Fetcher

<div class="server-page">
    @if (Fetcher.Status == RefreshListStatus.NotUpdated || Fetcher.Status == RefreshListStatus.UpdatingMaster)
    {
        <div class="server-page__state">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Medium" />
            <MudText Typo="Typo.body2" Color="Color.Secondary">@Localization["servers-menu-loading"]</MudText>
        </div>
    }
    else if (Fetcher.Status == RefreshListStatus.Error && _totalCount == 0)
    {
        <div class="server-page__state">
            <MudIcon Icon="@Icons.Material.Filled.CloudOff" Size="Size.Large" Color="Color.Error" />
            <MudText Typo="Typo.subtitle1">@Localization["servers-menu-fetch-failed"]</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Refresh"
                       OnClick="HandleRefresh">
                @Localization["servers-menu-try-again"]
            </MudButton>
        </div>
    }
    else
    {
        @if (!BottomSearchBar || !BottomTagsBar)
        {
            <MudPaper Elevation="0" Square="true" Class="server-toolbar">
                @if (!BottomSearch && !BottomSearchBar)
                {
                    <ServerListSearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" />
                }
                @if (!BottomTagsBar)
                {
                    <ServerListTagsBar HasSearchAbove="!BottomSearch && !BottomSearchBar" HasSearchBelow="BottomSearch && !BottomSearchBar" Filters="Filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (BottomSearch && !BottomSearchBar)
                {
                    <ServerListSearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" />
                }
            </MudPaper>
        }
        @if (Fetcher.Status == RefreshListStatus.PartialError)
        {
            <MudAlert Severity="Severity.Warning" Square="true" Dense="true"
                      ShowCloseIcon="false" Class="server-page__alert">
                @Localization["servers-menu-cant-reach-hubs"]
            </MudAlert>
        }
        if (_filteredServers.Count == 0)
        {
            <div class="server-page__state">
                <MudIcon Icon="@Icons.Material.Filled.SearchOff" Size="Size.Large" Color="Color.Default" />
                <MudText Typo="Typo.body2" Color="Color.Secondary">
                    @(_totalCount == 0 ? @Localization["servers-menu-no-online-servers"] : @Localization["servers-menu-no-matched-servers"])
                </MudText>
                @if (_totalCount > 0)
                {
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="ClearFilters">
                        @Localization["servers-menu-clear-filters"]
                    </MudButton>
                }
            </div>
        }
        else
        {
            <div class="server-page__list">
                <MudVirtualize Items="_filteredServers"
                Context="server"
                ItemSize="56"
                OverscanCount="3">
                    <ServerListItem @key="server.Address" Data="server"
                                    IsInFavorites="@(_favoriteAddresses.Contains(server.Address))" OnInfoNeeded="HandleInfoNeeded" OnFavorites="async x => await HandleFavorite(x)" />
                </MudVirtualize>
            </div>
        }
        @if (BottomSearchBar || BottomTagsBar)
        {
            <MudPaper Elevation="0" Square="true" Class="server-toolbar">
                @if (!BottomSearch && BottomSearchBar)
                {
                    <ServerListSearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" />
                }
                @if (BottomTagsBar)
                {
                    <ServerListTagsBar HasSearchAbove="!BottomSearch && BottomSearchBar" HasSearchBelow="BottomSearch && BottomSearchBar" IsBottom="true" Filters="Filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (BottomSearch && BottomSearchBar)
                {
                    <ServerListSearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" />
                }
            </MudPaper>
        }
    }
</div>