@using Starlight.Launcher.Components.Atoms.ServerList
@using Starlight.Launcher.Models.Data
@using Starlight.Launcher.Services.ServerStatus

@page "/servers"

@implements IDisposable

<div class="server-page">
    @if (Fetcher.Status == RefreshListStatus.NotUpdated || Fetcher.Status == RefreshListStatus.UpdatingMaster)
    {
        <div class="server-page__state">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Medium" />
            <MudText Typo="Typo.body2" Color="Color.Secondary">@Localization["servers-menu-loading"]</MudText>
        </div>
    }
    else if (Fetcher.Status == RefreshListStatus.Error && _totalCount == 0)
    {
        <div class="server-page__state">
            <MudIcon Icon="@Icons.Material.Filled.CloudOff" Size="Size.Large" Color="Color.Error" />
            <MudText Typo="Typo.subtitle1">@Localization["servers-menu-fetch-failed"]</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Refresh"
                       OnClick="HandleRefresh">
                @Localization["servers-menu-try-again"]
            </MudButton>
        </div>
    }
    else
    {
        @if (SearchBarPosition == ElementPosition.Left || TagsBarPosition == ElementPosition.Left)
        {
            <MudDrawer Anchor="Anchor.Left" ClipMode="DrawerClipMode.Always" Elevation="1" Open="true" Variant="@DrawerVariant.Responsive">
                @if (!BottomSearch && SearchBarPosition == ElementPosition.Left)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
                @if (TagsBarPosition == ElementPosition.Left)
                {
                    <TagsBar HasSearchAbove="!BottomSearch && SearchBarPosition == ElementPosition.Left" HasSearchBelow="BottomSearch && SearchBarPosition == ElementPosition.Left" Filters="Filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (BottomSearch && SearchBarPosition == ElementPosition.Left)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
            </MudDrawer>
        }
        @if (SearchBarPosition == ElementPosition.Right || TagsBarPosition == ElementPosition.Right)
        {
            <MudDrawer Anchor="Anchor.Right" ClipMode="DrawerClipMode.Always" Elevation="1" Open="true" Variant="@DrawerVariant.Responsive">
                @if (!BottomSearch && SearchBarPosition == ElementPosition.Right)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
                @if (TagsBarPosition == ElementPosition.Right)
                {
                    <TagsBar HasSearchAbove="!BottomSearch && SearchBarPosition == ElementPosition.Right" HasSearchBelow="BottomSearch && SearchBarPosition == ElementPosition.Right" Filters="Filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (BottomSearch && SearchBarPosition == ElementPosition.Right)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
            </MudDrawer>
        }
        @if (SearchBarPosition == ElementPosition.Top || TagsBarPosition == ElementPosition.Top)
        {
            <MudPaper Elevation="0" Square="true" Class="server-toolbar">
                @if (!BottomSearch && SearchBarPosition == ElementPosition.Top)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
                @if (TagsBarPosition == ElementPosition.Top)
                {
                    <TagsBar HasSearchAbove="!BottomSearch && SearchBarPosition == ElementPosition.Top" HasSearchBelow="BottomSearch && SearchBarPosition == ElementPosition.Top" Filters="Filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (BottomSearch && SearchBarPosition == ElementPosition.Top)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
            </MudPaper>
        }
        @if (Fetcher.Status == RefreshListStatus.PartialError)
        {
            <MudAlert Severity="Severity.Warning" Square="true" Dense="true"
                      ShowCloseIcon="false" Class="server-page__alert">
                @Localization["servers-menu-cant-reach-hubs"]
            </MudAlert>
        }
        if (_filteredServers.Count == 0)
        {
            <div class="server-page__state">
                <MudIcon Icon="@Icons.Material.Filled.SearchOff" Size="Size.Large" Color="Color.Default" />
                <MudText Typo="Typo.body2" Color="Color.Secondary">
                    @(_totalCount == 0 ? @Localization["servers-menu-no-online-servers"] : @Localization["servers-menu-no-matched-servers"])
                </MudText>
                @if (_totalCount > 0)
                {
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="ClearFilters">
                        @Localization["servers-menu-clear-filters"]
                    </MudButton>
                }
            </div>
        }
        else
        {
            <div class="server-page__list">
                <MudVirtualize Items="_filteredServers"
                Context="server"
                ItemSize="56"
                OverscanCount="3">
                    <ServerItem @key="server.Address" Data="server"
                                    IsInFavorites="@(_favoriteAddresses.Contains(server.Address))" OnInfoNeeded="HandleInfoNeeded" OnFavorites="async x => await HandleFavorite(x)" />
                </MudVirtualize>
            </div>
        }
        @if (SearchBarPosition == ElementPosition.Bottom || TagsBarPosition == ElementPosition.Bottom)
        {
            <MudPaper Elevation="0" Square="true" Class="server-toolbar">
                @if (!BottomSearch && SearchBarPosition == ElementPosition.Bottom)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
                @if (TagsBarPosition == ElementPosition.Bottom)
                {
                    <TagsBar HasSearchAbove="!BottomSearch && SearchBarPosition == ElementPosition.Bottom" HasSearchBelow="BottomSearch && SearchBarPosition == ElementPosition.Bottom" IsBottom="true" Filters="Filters" AvailableRPTags="_availableRPTags" AvailableLangTags="_availableLangTags" AvailableRegionTags="_availableRegionTags" />
                }
                @if (BottomSearch && SearchBarPosition == ElementPosition.Bottom)
                {
                    <SearchBar Filters="Filters" Status="Fetcher.Status" TotalCount="_totalCount" FilteredCount="_filteredServers.Count" OnRefresh="HandleRefresh" TagsExpandButton="TagsBarPosition is ElementPosition.Top or ElementPosition.Bottom" />
                }
            </MudPaper>
        }
    }
</div>
